<?xml version = "1.0" encoding="UTF-8" ?>
<source>
    <folders>
        <folder>
            <excludes>
                <class>SMTModule</class>
            </excludes>
            <path>D:\xampp\htdocs\sassympresta\src\AppBundle\Classes\StoreGeneric</path>
        </folder>
    </folders>
</source>
