<?xml version = "1.0" encoding="UTF-8" ?>
<source>
    <folders>
        <folder>
            <excludes>
                <class>SMTModule</class>
            </excludes>
            <path>D:\Dev\xampp\htdocs\SMT\src\AppBundle\Controller\StoreGeneric</path>
        </folder>
    </folders>
</source>
